{% extends "base.html" %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <div class="row">
        <h2>Welcome <span class="text-capitalize">{{request.user}} you can hire workers from here</span></h2>
    
    <div class="col-sm-2 boder-end">
        <ul class="list-unstyled">
            <form class="d-grid" role="search">
                <input class="form-control me-2" type="search" placeholder="Enter location" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            
        </ul>
    </div>
    
    <div class="col-sm-8 offset-sm-1">
        <div class="row">
            <div class="col-sm-9">
                <div class="card mx-auto" style="width: 65rem;">
                    <div class="card-body">
                        <h5 class="card-title mb-3">All Applicants for {{job.title}} Position</h5>
                        <table class ="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Full name</th>
                                    <th scope="col">locality</th>
                                    <th scope="col">district</th>
                                    <th scope="col">Aadhar</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for app in applicants %}
                                <tr>
                                    <td>{{app.user.employe}}</td>
                                    <td>{{app.user.employe.location}}</td>
                                    <td>{{app.user.employe.district}}</td>
                                    <td>{{app.user.employe.aadhar}}</td>
                                    <td>{{app.user.employe.mobile}}</td>
                                    <td><a href="#">update job<a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        

                    </div>
                </div>
            </div>


           

        </div>

    </div>

</div>





</div>


{% endblock main-content %}